body {
  margin: 0;
  padding: 0;
}

.left {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      rgba(244, 217, 98, 0.3),
      rgba(244, 217, 98, 0.3)
    ),
    url("/public/img/back.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  color: #efc81a;
}
@media only screen and (max-width: 640px) {
  .left {
    width: 100%;
  }
  .logo {
    display: none;
  }
  .right {
    width: 90%;
    position: absolute;
    margin-top: 25%;
    background-color: white;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
  }
}
