footer {
  margin-top: 80px;
  height: 350px;
  background-color: #efc81a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
